# Python EinfÃ¼hrung
## Erste Anweisung

In [64]:
print("Hello World")

Hello World

In [65]:
# das ist ein kommentar

In [66]:
print("was was was")

was was was

In [67]:
# das ist noch ein kommentar
print("wird komplett ignoriert")

wird komplett ignoriert

In [68]:
name = "Lovelace, eine Programmiererin aus dem 19. Jh"

In [69]:
print(name)

Lovelace, eine Programmiererin aus dem 19. Jh

In [70]:
age = 73
print (age)

73

In [71]:
alter = "73"
print(alter)

73

In [72]:
type (age)
type (alter)

str

In [73]:
type (age)

int

In [74]:
type (age)
type (alter)

str

In [75]:
 size = 1.7123

In [76]:
age + size

74.7123

In [77]:
alter + alter + alter

'737373'

In [78]:
size + size

3.4246

In [79]:
age + age

146

In [80]:
age + int(alter)

146

In [81]:
knows_math = True
print (knows_math)
likes_slacking = False
print (likes_slacking)

True
False

In [82]:
age * 100

7300

In [83]:
age / 100

0.73

In [84]:
print (knows_math)

True

In [85]:
type (age)(alter)

73

In [86]:
len(name)

45

In [87]:
print(name)

Lovelace, eine Programmiererin aus dem 19. Jh

In [88]:
name

'Lovelace, eine Programmiererin aus dem 19. Jh'

In [89]:
name.upper()

'LOVELACE, EINE PROGRAMMIERERIN AUS DEM 19. JH'

In [90]:
name_cap = name.upper()
print(name_cap)

LOVELACE, EINE PROGRAMMIERERIN AUS DEM 19. JH

In [91]:
name.count("e")

7

# Container: Listen und Dictionaries

In [92]:
name.count("l")

1

In [93]:
name.replace("lace", " is everywhere")

'Love is everywhere, eine Programmiererin aus dem 19. Jh'

In [94]:
name.find("L")

0

In [95]:
name.find("l")

4

In [96]:
find?

Object `find` not found.

In [97]:
name.find?

In [98]:
name2 = "Lovecraft, creator of Cthulu"

In [99]:
names = ["Lovelace", "Lovecraft", "Hawking", "Darwin", "Hannibal"]

In [100]:
names[2]

'Hawking'

In [101]:
names[1]

'Lovecraft'

In [102]:
names[0:3]

['Lovelace', 'Lovecraft', 'Hawking']

In [103]:
names[:4]

['Lovelace', 'Lovecraft', 'Hawking', 'Darwin']

In [104]:
names[-1]

'Hannibal'

In [105]:
%who

age	 alter	 knows_math	 likes_slacking	 name	 name2	 name_cap	 names	 size

In [106]:
print(name2)
print(name_cap)
print(names)

Lovecraft, creator of Cthulu
LOVELACE, EINE PROGRAMMIERERIN AUS DEM 19. JH
['Lovelace', 'Lovecraft', 'Hawking', 'Darwin', 'Hannibal']

In [110]:
authors_and_birthyears = {"Lovelace":1882, "Darwin": 1809, "Noether":1942}

In [111]:
authors_and_birthyears["Darwin"]

1809

In [114]:
names

['Lovelace', 'Lovecraft', 'Hawking', 'Darwin', 'Hannibal']

## for-Loop

In [115]:
for name in names:
    print(name)

Lovelace
Lovecraft
Hawking
Darwin
Hannibal

In [124]:
for name in names:
    print(name + " invented the universe")
    print("Is a scientist")
print("A scientist is a scientist is a scientist")

Lovelace invented the universe
Is a scientist
Lovecraft invented the universe
Is a scientist
Hawking invented the universe
Is a scientist
Darwin invented the universe
Is a scientist
Hannibal invented the universe
Is a scientist
A scientist is a scientist is a scientist

## Conditionals

In [127]:
temp = 20
if temp > 15:
    print("It's still too cold")

It's still too cold

In [128]:
20 > 15

True

In [140]:
temp = 27
if temp > 15:
    print("It's still too cold")
else:
    print("Maybe it's warm")
if temp > 25:
    print("It's okay")
else:
    print("Maybe it's warm")
if temp > 30:
    print("Now it's warm")
else:
    print("Maybe it's cold")

It's still too cold
It's okay
Maybe it's cold

In [142]:
temp = 27
if temp < 15:
    print("It's still too cold")
else:
    print("Maybe it's warm")

Maybe it's warm

In [145]:
temp = 17
if temp > 25:
    print("It's ok")
elif temp > 15:
    print("It's cold")
else:
    print("It's definitely cold")

It's cold

In [146]:
names

['Lovelace', 'Lovecraft', 'Hawking', 'Darwin', 'Hannibal']

In [147]:
len("Darwin")

6

In [148]:
len(names)

5

In [153]:
for name in names:
    if len(name) > 7:
        print(name)

Lovelace
Lovecraft
Hannibal

In [155]:
temp = 35
if temp > 15:
    print("Maybe it's warm")
else:
    print("It's cold")
if temp > 25:
    print("It's okay")
else:
    print("It's still cold")
if temp > 30:
    print("Now it's warm")
else:
    print("Maybe it's cold")

Maybe it's warm
It's okay
Now it's warm